@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    margin:0;
    background-color: #8dc63f;
    font-family: "Arial",sans-serif;
    cursor: url(../cursor\ \(2\).cur), default;
}
.clear{
    clear: both;
}
.workspace{
    padding: 0 15px;
    margin:0 auto;
    background-color: #fff;
    max-width: 960px;
}
.header{
    padding: 25px 0;
}
.logo,
.logo p{
    float:left;
}
.logo img{
    margin-left: 35px;
}
.ball{
    transition: ease 10s;
}
.ball:hover{
    margin-left: 435px;
    transform: rotate(945deg);
}
.logo p{
    margin: 0;
    font-size: 22px;
    color: #39930d;
}
.phonenumber a{
    margin: auto 0;
    font-size: 22px;
    color: #39930d;
    text-decoration: none;
}
.logo b{
    display: block;
    font-size: 44px;
}

.logo i{
    display: block;
    font-size: 14px;
    color: #5a5a5a;
}
.phonenumber{
    float: right;
}
.phonenumber i{
    display: block;
    font-size: 14px;
    color: #5a5a5a;
    text-align: right;
}
.banner{
    width:100%;
}
.main{
    margin-bottom: 45px;
}
.clear:after{
    content: "";
    display:block ;
    clear: both;
}
.content{
    float: left;
    max-width: 600px;
    margin-bottom: 46px auto;
}
.content h1{
    font-size: 24px;
    color: #39930d;
    font-family: "Roboto Slab", serif;
}
.content p{
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}
.menu{
    float:right;
    width: 300px;
}
.menu p{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #39930d;
}
.menu a{
    font-size: 14px;
    line-height: 30px;
    color: #39930d;
    text-transform: uppercase;
}
a:hover{
    text-transform: capitalize ;
}
.menu ul{
    list-style: none;
    padding-left:20px; 
}
.footer{
    margin: 0 -15px;
    padding: 15px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #39930d;

}
